/* 리복 데스크탑 */

body {text-align:center;color:#797b80;font:normal 12px 'Dotum','돋음';margin:0;padding:0;letter-spacing:0;}
div, p, ol, ul, li, img, a, h1, h2, h3, h4, h5, h6, form, span, iframe, dl, dt, dd {margin:0;padding:0;text-align:left;line-height:14px;}
div, ul, ol, li{list-style:none;}
table, th, td {margin:0;padding:0;border:0;border-spacing:0;border-collapse:collapse;}
legend, caption {width:0;height:0;font-size:0;line-height:0;overflow:hidden;visibility:hidden;}
img {border:0;}
em {font-style:normal; font-weight:normal;}

/* form */
form {display:block;border:none;}
fieldset {margin:0;padding:0;border:none;}
input {font:normal 12px/14px Dotum;padding:2px 0 -2px 0;vertical-align:middle;border:none;color:#666;}
input[type~="text"] {border-top:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc; font-size:12px;}
input[type~="password"] {border-top:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc; font-size:12px;}
input[type~="checkbox"] {border:none;margin:-1px 0;padding:0;}
input[type~="radio"] {border:none;margin:-1px 0;padding:0;}
input {border:1px solid #c6c6c6;} 
select {font:normal 12px 'gulim','돋움';height:18px;vertical-align:middle;color:#888;padding:0;margin:0;}
textarea {border:1px solid #d7d7d5;color:#797b80;padding:0;margin:0;}
iframe[name="google_conversion_frame"]{height: 0;}

/* link style */
a:link {color:#797b80;text-decoration:none;cursor:pointer;}
a:visited {color:#797b80;text-decoration:none;}
a:hover {color:#797b80;text-decoration:none;}
a:active {color:#797b80;text-decoration:none;}

.scr2 {border:none;background:none;
	scrollbar-face-color:#cdcdcd;		/* bar 의 표면색 */
	scrollbar-highlight-color:#cdcdcd;	/* 밝게 빛나는 좌상단 모서리 */
	scrollbar-3dlight-color:#cdcdcd;	/* 좌상단 모서리 아래부분 */
	scrollbar-shadow-color:#cdcdcd;		/* 그림자 지는 우하단 */
	scrollbar-darkshadow-color:#cdcdcd;	/* 그림자 우하단 */ 
	scrollbar-track-color:#f0f0f0;		/* 스크롤 트랙의 색 */
	scrollbar-arrow-color:#4a4947;		/* 삼각형부분 */
	overflow-x:hidden;overflow-y:auto; 
}
.scr2::-webkit-scrollbar {width:4px; border: 1px solid #fff; }
.scr2::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {display: block; height:0px }
.scr2::-webkit-scrollbar-track {background:#fff; -webkit-border-radius: 10px; border-radius:10px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.2)}
.scr2::-webkit-scrollbar-thumb {height: 50px; width: 50px; background:#c1c1c1; -webkit-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.1)}

/* header  */
#efu_headerWrap {position:relative; left:0; top:0; min-width:1190px; width:100%;height:79px; background:#fff; z-index:110;border-bottom:1px solid #eaeaea;}
/* 20180627 수정 */
#efu_mainWrap #efu_headerWrap {position:fixed; left:0; top:0; width:100%; height:79px; border-bottom:1px solid #b3b3af; transition:all 0.2s cubic-bezier(0.77, 0, 0.175, 1); z-index:200; background:#fff; box-sizing:border-box;}/*-- 20180326 수정 --*/

#efu_headerWrap.on {background:rgba(255,255,255,0.7)}
#efu_headerWrap #header {position:static; margin:0 auto; width:1190px;}
#efu_headerWrap #header h1 {position:absolute; left:15px; top:30px; margin:0; width:204px; height:36px; background:url("/images/reebok/efu2018/common/logo.png") no-repeat 0 0; text-indent:-100000px}
#efu_headerWrap #header h1 a {display:block; width:174px; height:36px;}
#efu_headerWrap #header .utilArea {position:relative; width:1190px;}
#efu_headerWrap #header .utilArea .searchArea {display:none; position:absolute; right:85px; top:38px;}
#efu_headerWrap #header .utilArea .searchArea input {padding:0 10px; width:149px; height:32px; border:none;background:#fff;border: 1px solid #ebedee;color:#000;}


/* 190801 메인 버튼 스타일 변경 */
.btnCont{
	display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -80px 0 0 -583px;
    z-index: 2;
}
.btnCont .button_area_v2 div{position: relative;margin: 0 0 17px 0;}
.btnCont .button_area_v2 div .bg{
	display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(3px,3px);
    -webkit-transform: translate(3px,3px);
    box-shadow: inset 0 0 0 1px #fff;
    -webkit-box-shadow: inset 0 0 0 1px #fff;
}
.btnCont .button_area_v2 div a{
    position: relative;
    display: block;
    text-align: center;
    height: 50px;
    font: 500 15px/49px 'NotoSansKR';
    color: #000;
    background: #fff;
    z-index: 2;
	padding:0 20px;
}
.btnCont .button_area_v2 div a span{
	position: relative;
    top: -1px;
    display: inline-block;
    margin-left: 20px;
    width: 25px;
    height: 2px;
    background: #000;
    vertical-align: middle;
}
.btnCont .button_area_v2 div a span em{
	position: absolute;
    right: 0;
    width: 8px;
    height: 3px;
    background: #000;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.btnCont .button_area_v2 div a span .top{
	top: -3px;
}
.btnCont .button_area_v2 div a span .bottom{
    bottom: -3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.btnCont .button_area_v2 div:hover .bg{
	box-shadow: inset 0 0 0 1px #000;
    -webkit-box-shadow: inset 0 0 0 1px #000;
}
.btnCont .button_area_v2 div:hover a{
    background: #000;
    color: #fff;

}
.btnCont .button_area_v2 div:hover a span em{
    background: #fff;

}
.btnCont .button_area_v2 div:hover a span{
    background: #fff;
}
/* 190801 메인 버튼 스타일 변경 */

/* 200106 features btn(상하단 공용) start */
/* btnCont 상단 버튼 클래스 */
/* #efu_mainWrap .btnCont{
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -80px 0 0 -583px;
	z-index: 2;
}
#efu_mainWrap .btnCont .button_area_v2 div{text-align:left;}
#efu_mainWrap .btnCont .button_area_v2 div a{display:block;}
#efu_mainWrap .btnCont .button_area_v2:nth-child(2){position: relative;text-align:center;margin: 17px 0 0 0;} */
#efu_mainWrap .features__wrapper .features__wrapper__row .features__wrapper__grid .button_area_v2 div{position: relative;text-align:center;}
#efu_mainWrap .features__wrapper .features__wrapper__row .features__wrapper__grid .button_area_v2 div a{
	position: relative;
	display: inline-block;
    text-align: center;
    height: 50px;
    font: 500 15px/49px 'NotoSansKR';
    color: #fff;
    background: #000;
	z-index: 2;
	padding: 0 20px;
}
#efu_mainWrap .features__wrapper__row .features__wrapper__grid .button_area_v2 div a::after{
	content:'';
	clear:both;
	display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(3px,3px);
    -webkit-transform: translate(3px,3px);
    box-shadow: inset 0 0 0 1px #000;
    -webkit-box-shadow: inset 0 0 0 1px #000;
}
#efu_mainWrap .features__wrapper__row .features__wrapper__grid .button_area_v2 div a span.arrow{
	position: relative;
	top:-1px;
	display: inline-block;
	margin-left: 20px;
    width: 25px;
    height: 2px;
    background: #fff;
    vertical-align: middle;
}
#efu_mainWrap .features__wrapper__row .features__wrapper__grid .button_area_v2 div a span.arrow em{
	position: absolute;
    right: 0;
    width: 8px;
    height: 3px;
    background: #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
#efu_mainWrap .features__wrapper__row .features__wrapper__grid .button_area_v2 div a span.arrow em.top{top:-3px;}
#efu_mainWrap .features__wrapper__row .features__wrapper__grid .button_area_v2 div a span.arrow em.bottom{bottom: -3px;transform: rotate(-45deg);-webkit-transform: rotate(-45deg);}
#efu_mainWrap .features__wrapper__row .features__wrapper__grid .button_area_v2 div div.bg{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translate(3px,3px);
	-webkit-transform: translate(3px,3px);
	box-shadow: inset 0 0 0 1px #000;
	-webkit-box-shadow: inset 0 0 0 1px #000;
}
#efu_mainWrap .features__wrapper__row .features__wrapper__grid .button_area_v2 div a:hover{
	color:#767677;
}
#efu_mainWrap .features__wrapper__row .features__wrapper__grid .button_area_v2 div a:hover .arrow,
#efu_mainWrap .features__wrapper__row .features__wrapper__grid .button_area_v2 div a:hover .arrow .top,
#efu_mainWrap .features__wrapper__row .features__wrapper__grid .button_area_v2 div a:hover .arrow .bottom{
	background: #767677;
}

/* btn white version start */
#efu_mainWrap .features__wrapper__row .features__wrapper__grid .button_area_v2 div.white a::after{
    box-shadow: inset 0 0 0 1px #fff;
    -webkit-box-shadow: inset 0 0 0 1px #fff;
}
#efu_mainWrap .features__wrapper__row .features__wrapper__grid .button_area_v2 div.white a{color: #000;background: #fff;}
#efu_mainWrap .features__wrapper__row .features__wrapper__grid .button_area_v2 div.white a span.arrow{background: #000;}
#efu_mainWrap .features__wrapper__row .features__wrapper__grid .button_area_v2 div.white a span.arrow em{background: #000;}
#efu_mainWrap .features__wrapper__row .features__wrapper__grid .button_area_v2 div.white div.bg{
	box-shadow: inset 0 0 0 1px #fff;
	-webkit-box-shadow: inset 0 0 0 1px #fff;
}
#efu_mainWrap .features__wrapper__row .features__wrapper__grid .button_area_v2 div.white a:hover{color: #767677;}
#efu_mainWrap .features__wrapper__row .features__wrapper__grid .button_area_v2 div.white a:hover span.arrow{background: #767677;}
/* btn white version end */

/* 200106 features btn(상하단 공용) end */






/* gnb  */
#efu_headerWrap #gnb {padding:47px 0 14px 0;}
#efu_headerWrap #gnb>ul {padding-left:267px;}/*-- 20180326 수정 --*/
#efu_headerWrap #gnb>ul:after {content:""; display:block; clear:both;}
#efu_headerWrap #gnb>ul>li {float:left; margin-left:22px;}
#efu_headerWrap #gnb>ul>li:first-child {margin-left:0;}
/*
#efu_headerWrap #gnb>ul>li:nth-child(4),
#efu_headerWrap #gnb>ul>li:nth-child(6),
#efu_headerWrap #gnb>ul>li:nth-child(10),
#efu_headerWrap #gnb>ul>li:nth-child(11) {padding-left:10px;}

#efu_headerWrap #gnb>ul>li:nth-child(3):after,
#efu_headerWrap #gnb>ul>li:nth-child(5):after,
#efu_headerWrap #gnb>ul>li:nth-child(9):after,
#efu_headerWrap #gnb>ul>li:nth-child(10):after {margin-top:-7px; content:""; display:block; clear:both; width:2px; height:2px; background:#fff;}*/
#efu_headerWrap #gnb>ul>li:nth-child(3):after {margin-left:50px;}
#efu_headerWrap #gnb>ul>li:nth-child(5):after {margin-left:72px;}
#efu_headerWrap #gnb>ul>li:nth-child(9):after {margin-left:105px;}
#efu_headerWrap #gnb>ul>li:nth-child(10):after {margin-left:63px;}
#efu_headerWrap #gnb>ul>li:last-child:after {width:0; height:0; background:none;}
#efu_headerWrap #gnb>ul>li>a {margin-right:5px; font-size:18px; color:#000; font-family: 'dinpro'; text-decoration:none;}
#efu_headerWrap #gnb>ul>li>a.sale {color:#e7000f; font-weight:bold;}
#efu_headerWrap #gnb>ul>li>div.subMenu {display:none; position:absolute; left:0; top:78px; padding:0 29px; width:100%; background:#fff; box-shadow:0 10px 10px rgba(0,0,0,0.5); z-index:4; box-sizing:border-box;border-top: 1px solid #000;}
#efu_headerWrap #gnb>ul>li>div.subMenu.fitnessArea {padding:27px 0; height:244px;}
#efu_headerWrap #gnb>ul>li>div.subMenu .subMenuCont {position:relative; margin:0 auto; width:980px;}
#efu_headerWrap #gnb>ul>li>div.subMenu .subMenuCont.brandMenu {padding:27px 0; width:850px; height:200px;}
#efu_headerWrap #gnb>ul>li>div.subMenu div.menuArea {width:660px; height:322px;}
#efu_headerWrap #gnb>ul>li>div.subMenu div.menuArea:after {content:""; display:block; clear:both;}
#efu_headerWrap #gnb>ul>li>div.subMenu div.menuArea>div {float:left; padding-top:27px; width:25%; height:100%; box-sizing:border-box; border-left:1px solid #e8e8e8;}/*-- 20180326 수정 --*/
#efu_headerWrap #gnb>ul>li>div.subMenu div.menuArea>div.bgArea {background:#f6f6f6;}
#efu_headerWrap #gnb>ul>li>div.subMenu div.menuArea.classicArea .bgArea ul li a {color:#000; font-weight:bold;}
#efu_headerWrap #gnb>ul>li>div.subMenu div.menuArea.classicArea .bgArea ul li.on a {color:#b71c26; text-decoration:underline;}
/*#efu_headerWrap #gnb>ul>li>div.subMenu div.menuArea>div:nth-child(1),
#efu_headerWrap #gnb>ul>li>div.subMenu div.menuArea>div:nth-child(2) {border-bottom:1px solid #eaeaea;}
#efu_headerWrap #gnb>ul>li>div.subMenu div.menuArea>div:nth-child(2),
#efu_headerWrap #gnb>ul>li>div.subMenu div.menuArea>div:nth-child(4) {padding-left:20px; border-left:1px solid #eaeaea;}
#efu_headerWrap #gnb>ul>li>div.subMenu div.menuArea>div:nth-child(3),
#efu_headerWrap #gnb>ul>li>div.subMenu div.menuArea>div:nth-child(4) {padding-top:27px;}*/
#efu_headerWrap #gnb>ul>li>div.subMenu h2 {padding:0 0 20px 0; font-size:15px; color:#292929;  font-family: 'NotoSansKR'; letter-spacing:0px; text-align:center;}
#efu_headerWrap #gnb>ul>li>div.subMenu h2.on a  {color:#b71c26; text-decoration:underline;}
#efu_headerWrap #gnb>ul>li>div.subMenu ul li {position:relative; padding:0 0 15px 0; text-align:center;}
/*#efu_headerWrap #gnb>ul>li>div.subMenu ul li:before {content:""; display:block; clear:both; position:absolute; left:0; top:6px; width:3px; height:3px; background:#000;}*/
#efu_headerWrap #gnb>ul>li>div.subMenu ul li a {font-size:14px; color:#5f5f5f; font-family: 'NotoSansKR'; font-weight: 400;}
#efu_headerWrap #gnb>ul>li>div.subMenu ul li.on a {color:#b71c26; text-decoration:underline;}
#efu_headerWrap #gnb>ul>li>div.subMenu ul li a.color {color:#b71c26;}
#efu_headerWrap #gnb>ul>li>div.subMenu div.bannerArea {position:absolute; right:0; top:25px; }
#efu_headerWrap #gnb>ul>li>div.subMenu div.bannerArea a {display:block;}
#efu_headerWrap #gnb>ul>li>div.subMenu div.bannerArea a p {padding-top:20px; font-size:18px; color:#000; font-family: 'ReefontCondensed'; line-height:18px;}
#efu_headerWrap #gnb>ul>li>div.subMenu div.bannerArea a p span {display:block; font-size:12px; color:#777; font-family: 'NotoSansKR'; font-weight: 100;}
#efu_headerWrap #gnb>ul>li>div.subMenu .subMenuCont .fitness {margin:-27px 0;}
#efu_headerWrap #gnb>ul>li>div.subMenu .subMenuCont .fitness:after {content:""; display:block; clear:both;}
#efu_headerWrap #gnb>ul>li>div.subMenu .subMenuCont .fitness li {position:relative; float:left; padding:27px 0; width:20%; text-align:center; border-right:1px solid #eaeaea; box-sizing:border-box;}
#efu_headerWrap #gnb>ul>li>div.subMenu .subMenuCont .fitness li:before {width:0; height:0; background:none;}
#efu_headerWrap #gnb>ul>li>div.subMenu .subMenuCont .fitness li a {display:block; height:190px;font-size:15px; color:#292929; font-family: 'NotoSansKR'; letter-spacing:1px; text-align:center;}/*-- 20180326 수정 --*/
#efu_headerWrap #gnb>ul>li>div.subMenu .subMenuCont .fitness li a span {display:block;margin-top:5px;  font-size:14px; color:#666; font-family: 'NotoSansKR'; font-weight: 500;letter-spacing:0;text-align:center;}
#efu_headerWrap #gnb>ul>li>div.subMenu .subMenuCont .fitness li a:after {content:""; display:block; clear:both; position:absolute; left:50%; top:90px; margin-left:-45px; width:90px; height:124px; background:url("/images/reebok/efu2018/common/icon_fitness.png") no-repeat 0 0;z-index:1;}
#efu_headerWrap #gnb>ul>li>div.subMenu .subMenuCont .fitness li + li a:after {background-position-x:-90px;}
#efu_headerWrap #gnb>ul>li>div.subMenu .subMenuCont .fitness li + li + li a:after {background-position-x:-180px;}
#efu_headerWrap #gnb>ul>li>div.subMenu .subMenuCont .fitness li + li + li + li a:after {background-position-x:-270px;}
#efu_headerWrap #gnb>ul>li>div.subMenu .subMenuCont .fitness li + li + li + li + li a:after {background-position-x:-360px;}
#efu_headerWrap #gnb>ul>li>div.subMenu .subMenuCont .fitness li.on {background:#f1f1f1;}
#efu_headerWrap #gnb>ul>li>div.subMenu .subMenuCont .fitness li.on a {color:#b71c26;}
#efu_headerWrap #gnb>ul>li>div.subMenu .subMenuCont .fitness li.on a span {color:#b71c26;}
#efu_headerWrap #gnb>ul>li>div.subMenu .subMenuCont .fitness li.on a:after {background-position-y:-124px;}
#efu_headerWrap #gnb>ul>li>div.subMenu .subMenuCont .sale {margin:0 auto; padding-left:40%; width:70px;}
#efu_headerWrap #gnb>ul>li>div.subMenu .subMenuCont .brand:after {content:""; display:block; clear:both;}
#efu_headerWrap #gnb>ul>li>div.subMenu .subMenuCont .brand {position:relative; float:left; margin-left:28px; }
#efu_headerWrap #gnb>ul>li>div.subMenu .subMenuCont .brand:first-child {margin-left:0;}
#efu_headerWrap #gnb>ul>li>div.subMenu .subMenuCont .brand>div {padding-left:226px;}
#efu_headerWrap #gnb>ul>li>div.subMenu .subMenuCont .brand>div a {display:block;}
#efu_headerWrap #gnb>ul>li>div.subMenu .subMenuCont .brand>div a:first-child {padding-bottom:27px;}
#efu_headerWrap #gnb>ul>li>div.subMenu .subMenuCont .brand>p {position:absolute; left:0; top:39px;}
#efu_headerWrap #gnb>ul>li>div.subMenu .subMenuCont .brand>p span {display:block; padding-top:12px; font-size:12px; color:#000; font-family: 'NotoSansKR'; font-weight: 500;}
/*-- 20180326 추가 --*/
#efu_headerWrap #gnb>ul>li>div.subMenu h2 a {color:#292929}
#efu_headerWrap #gnb>ul>li>div.subMenu .brandType2 h2 {position:relative; padding-left:10px; text-align:left;}
#efu_headerWrap #gnb>ul>li>div.subMenu .brandType2 h2 a {font-size:inherit;} 
#efu_headerWrap #gnb>ul>li>div.subMenu .brandType2 h2:before {content:""; display:block; clear:both; position:absolute; left:0; top:5px; width:4px; height:4px; background:#000;border-radius:10px;}
/*-- //20180326 추가 --*/

#efu_headerWrap .util {position:absolute; right:10px; top:37px; z-index:1;}
/*-- 20180327 수정 --*/
#efu_headerWrap .util >li {position:relative; float:left; padding-bottom:20px; margin-left:5px; width:34px; height:30px; text-indent:-10000px; background:url("/images/reebok/efu2018/common/icon_util.png") no-repeat 0 0;}
/*-- 20180326 수정 --*/
#efu_headerWrap .util >li>a {display:block; width:34px; height:30px;}
#efu_headerWrap .util li.util1 {width:34px; height:30px; background:url("/images/reebok/efu2018/common/icon_util.png") no-repeat 0 0;}
#efu_headerWrap .util li.util2 {background-position-x:-34px;}
#efu_headerWrap .util li.util3 {background-position-x:-68px; text-indent:0px;}
#efu_headerWrap .util li.util3>a {text-align:center;}
#efu_headerWrap .util li.util3>a>span {position:absolute; right:-3px; top:-3px; width:20px; height:20px;font-size:12px; color:#fff; text-align:center; line-height:20px;font-family: 'dinpro bold'; background:#b71c26; border-radius:10px;}
/* #efu_headerWrap .util li.util1.on {background-position-x:-102px;} 190801 작업함. 삭제가능. 또 바꿀까봐 주석처리해놓음. */
/*-- //20180326 수정 --*/

/*-- 20180326 추가 --*/
#efu_headerWrap .util li.util2>div.utilBox {display:none; position:absolute; left:-56px; top:31px; margin-top:10px; width:146px; height:34px; background:#fff;}
#efu_headerWrap .util li.util2>div.utilBox:before {content:""; display:block; clear:both; margin-left:-5px;  position:absolute; left:50%; top:-7px; width:9px; height:7px; background:url("/images/reebok/efu2018/common/utilBoxBg.png") no-repeat 0 0;}
#efu_headerWrap .util li.util2>div.utilBox ul:after {content:""; display:block; clear:both;}
#efu_headerWrap .util li.util2>div.utilBox ul li {position:relative; float:left; width:50%; text-align:center; text-indent:0;}
#efu_headerWrap .util li.util2>div.utilBox ul li:first-child:after {content:""; display:block; clear:both; position:absolute; right:0; top:10px; width:1px; height:14px; background:#b0b0b0;}
#efu_headerWrap .util li.util2>div.utilBox ul li a {font-size:12px; color:#000; line-height:34px; font-family: 'NotoSansKR';	font-weight: 500;}
/*-- //20180326 추가 --*/

/* footer 
#efu_footerArea {position:relative; background:#2f2f2b; z-index:5;}
#efu_footerArea .footerMenu {position:relative; margin:0 auto; width:1190px; height:60px;}
#efu_footerArea ul:after {content:""; display:block; clear:both;}
#efu_footerArea ul li {float:left;margin-left:30px;}
#efu_footerArea ul li:first-child {margin-left:0;}

#efu_footerArea .menu {margin-left:150px; padding-top:22px;}
#efu_footerArea .menu li a {font-size:12px; color:#fff; font-family: 'NotoSansKR'; font-weight: 400;}
#efu_footerArea .menu li.center a {color:#8f9296;}
#efu_footerArea .footSns {position:absolute; right:160px; top:-17px;}
#efu_footerArea .footSns li {position:relative; margin-left:14px; width:32px; height:62px;}
#efu_footerArea .footSns li .boxArea {display:none; position:absolute; left:-45px; bottom:65px; padding:20px 15px; width:90px; height:60px; border:1px solid #acacac; background:#fff; z-index:1;}
#efu_footerArea .footSns li .boxArea:after {content:""; display:block; clear:both; position:absolute; left:48px; bottom:-17px; width:24px; height:17px; background:url('/images/reebok/efu2018/common/footerBg.png') no-repeat 0 0}
#efu_footerArea .footSns li .boxArea>p {padding-bottom:20px; font-size:16px; color:#000; font-family: 'ReefontCondensed'; letter-spacing:2px;}
#efu_footerArea .footSns li .boxArea>ul li {position:relative; float:initial; padding-bottom:3px; margin:0; width:100%; height:auto;}
#efu_footerArea .footSns li .boxArea>ul li:after {content:">"; display:block; clear:both; position:absolute; right:0; top:0; font-size:10px; color:#868686}
#efu_footerArea .footSns li .boxArea>ul li a {width:100%; font-size:14px; color:#868686;font-family: 'ReefontCondensed'; letter-spacing:2px;}

#efu_footerArea .footSns>li>a {display:inline-block; padding-top:30px; width:32px; height:32px; text-indent:-10000px; overflow:hidden;}
#efu_footerArea .footSns>li>a:before {content:""; display:block; clear:both; width:32px; height:32px; background:url("/images/reebok/efu2018/common/btn_sns.gif") no-repeat 0 0;}
#efu_footerArea .footSns>li + li>a:before {background-position-x:-38px;}
#efu_footerArea .footSns>li + li + li>a:before {background-position-x:-74px;}
#efu_footerArea .footSns>li + li + li + li>a:before {background-position-x:-111px;}
#efu_footerArea .footSns>li + li + li + li + li>a:before {background-position-x:-148px;}

#efu_footerArea .footAddressWrap {background:#343530;}
#efu_footerArea .footAddressWrap .footAddress {position:relative; margin:0 auto; padding:44px 0 60px 150px; width:1040px;}
#efu_footerArea .footAddressWrap .footAddress .address>p {font-size:11px; color:#959595; font-family: 'NotoSansKR'; font-weight: 400; line-height:18px;}
#efu_footerArea .footAddressWrap .footAddress .address>p span {margin-left:15px;}
#efu_footerArea .footAddressWrap .footAddress .footAgreeMenu {margin-top:25px;}
#efu_footerArea .footAddressWrap .footAddress .footAgreeMenu:after {content:""; display:block; clear:both;}
#efu_footerArea .footAddressWrap .footAddress .footAgreeMenu li {float:left;margin-left:10px; padding-left:10px;  border-left:1px solid #666;}
#efu_footerArea .footAddressWrap .footAddress .footAgreeMenu li:first-child {margin-left:0; padding-left:0; border-left:none;}
#efu_footerArea .footAddressWrap .footAddress .footAgreeMenu li a {font-size:11px; color:#959595; font-family: 'NotoSansKR'; font-weight: 400;}
#efu_footerArea .footAddressWrap .footAddress .footAgreeMenu li +li + li a {color:#666;}

#efu_footerArea .footAddressWrap .footAddress .emailNewsLetter {position:absolute; right:160px; top:43px; padding:7px 0 7px 27px;  border-left:1px solid #4d4e4b;}
#efu_footerArea .footAddressWrap .footAddress .emailNewsLetter .tit {padding-bottom:15px; font-size:12px; color:#fff; font-family: 'NotoSansKR'; font-weight: 500;}
#efu_footerArea .footAddressWrap .footAddress .emailNewsLetter .emailBox {position:relative; width:260px;}
#efu_footerArea .footAddressWrap .footAddress .emailNewsLetter .emailBox input {padding:0 10px ;width:240px; height:42px; line-height:42px;}
#efu_footerArea .footAddressWrap .footAddress .emailNewsLetter .emailBox .mailBtn {position: absolute;	right:0; top:3px;	display: block;	width: 38px; height: 38px; background:#343530 url('/images/reebok/efu2018/blt/blt_footEmail.png') no-repeat 14px 8px;}
#efu_footerArea .footAddressWrap .footAddress .emailNewsLetter .emailAgree {padding-top:15px;}
#efu_footerArea .footAddressWrap .footAddress .emailNewsLetter .emailAgree input[type=checkbox] {width:19px; height:19px; padding:0; margin:-1px 0 0; border:0; vertical-align:middle; -webkit-appearance:none; -moz-appearance:none; appearance:none; background:url(//image.reebok.co.kr/images/reebok/efu2018/blt/blt_check.gif) no-repeat 0 0;}
#efu_footerArea .footAddressWrap .footAddress .emailNewsLetter .emailAgree input[type=checkbox]:checked {background-position-y:100%;}
#efu_footerArea .footAddressWrap .footAddress .emailNewsLetter .emailAgree label {margin-left:5px; font-size:11px; color:#717377; font-family: 'NotoSansKR'; font-weight: 400; text-decoration:underline;}

#efu_headerWrap #gnb #gnbOverBar {display:none; position:absolute; left:0; top:33px; width:0; height:2px; background:#fff; transition:all 0.2s cubic-bezier(0.77, 0, 0.175, 1);}
*/

/* 기존 리복 footer*/
.ct890{width:890px;margin:0 auto;}
#footer_wrap_170919{position: relative; background: #343530;}
#footer_wrap_170919 .top{
	height: 58px;
	position: relative;
	background: #2f2f2b;
}

#footer_wrap_170919 .top .ct890{
	position: relative;
}

#footer_wrap_170919 .top .f_menu{
	padding-top:20px;
}

#footer_wrap_170919 .top .f_menu li{
	margin-right: 30px;
	float: left;
}

#footer_wrap_170919 .top .f_menu li a{
	font:400 12px 'NotoSansKR','Nanum Gothic';
	color: #999;
}

#footer_wrap_170919 .top .f_menu li a strong{
	color: #fff;
	font-weight: normal;
}

#footer_wrap_170919 .top .sns{
	position: absolute;
	top:13px;
	right: 0;
}

#footer_wrap_170919 .sns_box{
	position: relative;
	float: left;
	margin-right: 14px;
}

#footer_wrap_170919 .sns_box.last{
	margin-right: 0;
}

#footer_wrap_170919 .sns_box>a{
	width: 32px;
	height: 32px;
	background-position: 0 -2265px;
}

#footer_wrap_170919 .sns_box.insta>a{
	background-position:-35px -2265px;
}

#footer_wrap_170919 .sns_box.blog>a{
	background-position:-70px -2265px;
}

#footer_wrap_170919 .sns_box.ytb>a{
	background-position:-105px -2265px;
}

#footer_wrap_170919 .sns_box.kakao>a{
	background-position:-140px -2265px;
}

#footer_wrap_170919 .sns_box .layer{
	width:66px;
	padding: 15px 20px;
	position: absolute;
	bottom: 63px;
    left: -40px;
	border: 2px solid  #e5e5e5;
	background: #fff;
	border-radius: 2px;
	z-index: -1;
	opacity: 0;
	filter:alpha(opacity=0);
	-ms-filter:alpha(opacity=0);
	transition:opacity 0.3s,transform 0.3s;
	-webkit-transition:opacity 0.3s,-webkit-transform 0.3s;
	transform:translate3d(0,10px,0);
	-webkit-transform:translate3d(0,10px,0);
}

*:first-child+html #footer_wrap_170919 .sns_box .layer{
	display: none;
}

#footer_wrap_170919 .sns_box .layer.active{
	opacity: 1;
	filter:alpha(opacity=100);
	-ms-filter:alpha(opacity=100);
	transform:translate3d(0,0,0);
	-webkit-transform:translate3d(0,0,0);
	z-index: 20;
}

*:first-child+html #footer_wrap_170919 .sns_box .layer.active{
	display: block;
}

#footer_wrap_170919 .sns_box .layer .arw{
	width: 21px;
	height: 13px;
	position: absolute;
	bottom:-12px;
	left:50%;
	margin-left: -10px;
	background-position:-125px -730px;
}

#footer_wrap_170919 .sns_box .layer dt{
	margin-bottom:7px;
	font:bold 13px 'DINWebPro-CondMedium';
	color: #000;
}

#footer_wrap_170919 .sns_box .layer dd li{
	margin-bottom:2px;
	font:13px 'DINWebPro-CondMedium';
	color: #000;
}

#footer_wrap_170919 .sns_box .layer dd li a{
	position: relative;
	display: block;
	padding-right:17px;
	background:url('//image.reebok.co.kr/images/reebok/common/ico_arw_fsns.gif') right 2px no-repeat;
}

#footer_wrap_170919 .sns_box .layer dd li a::after{
	content:'';
	width: 0;
	height: 1px;
	background: #676767;
	position: absolute;
	bottom: 0;
	left: 0;
	transition:width 0.2s;
	-webkit-transition:width 0.2s;
}

#footer_wrap_170919 .sns_box .layer dd li a:hover::after{
	width: 100%;
}

#footer_wrap_170919 .sns_box .layer dd li.last{
	margin-bottom: 0;
}

#footer_wrap_170919 .address{
	padding: 40px 0;
	/* background: #343530; */
	width:890px;
	margin:0 auto;
	text-align:center;
}

#footer_wrap_170919 .address .ct620{
	position: relative;
	width: 620px;
	margin: 0 auto;
}

#footer_wrap_170919 .address .ct890{
	position: relative;
	width: 890px;
	margin: 0 auto;
	height: 130px;
	display: flex;
}

#footer_wrap_170919 .address .ct890 .cont_left::after{
	content: '';
	display: block;
	width: 1px;
	height: 115px;
	background-color: #4d4e4b;
	position: absolute;
	right: 290px;
	top: 0;
}

#footer_wrap_170919 .address .ct890 .cont_left {
	float: left;
}

#footer_wrap_170919 .address .ct890 .cont_right {
	float: left;
	margin-left: 35px;
}

#footer_wrap_170919 .address .ct890 .cont_right h4 {
	color:#fff;
	font:500 12px 'NotoSansKR';
}

#footer_wrap_170919 .address .ct890 .cont_right input.email{
	font:500 12px 'NotoSansKR';
	margin : 12px 0 15px 0;
	padding-left: 10px;
	width: 249px;
	height: 40px;
}

#footer_wrap_170919 .address .ct890 .cont_right .input_box a.mail_button{
	position: absolute;
	top: 33px;
	right: 4px;
	display: block;
	width: 38px;
	height: 38px;
	background:url('//image.reebok.co.kr/images/reebok/common/footer_email_ico.jpg') top left no-repeat;
}

.ie7 #footer_wrap_170919 .address .ct890 .cont_right INPUT.email{
	width:212px;
	line-height: 40px;
}

.ie8 #footer_wrap_170919 .address .ct890 .cont_right INPUT.email{
	width:235px;
	line-height: 40px;
}

.ie7 #footer_wrap_170919 .address .ct890 .cont_right .input_box A.mail_button{
	top:30px;
}

.ie7 #footer_wrap_170919 .address .ct890 .cont_right .input-check-ctm LABEL {
	text-decoration: underline;
}

.ie8 #footer_wrap_170919 .address .ct890 .cont_right .input_box a.mail_button{
	top:29px;
}

.ie8 #footer_wrap_170919 .address .ct890 .cont_right .input-check-ctm LABEL {
	text-decoration: underline;
}

#footer_wrap_170919 .address .ct890 .cont_right .input-check-ctm {
	float: left;
}

#footer_wrap_170919 .address .ct890 .cont_right .input-check-ctm label{
	font:500 12px 'NotoSansKR';
	color:#999999;
	cursor: pointer;
	padding-left: 26px;
}

#footer_wrap_170919 .address .ct890 .cont_right .input-check-ctm label .ctm-box{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 17px;
	height: 17px;
	background: #525252;
	border: 1px solid #525252;
}

#footer_wrap_170919 .address .ct890 .cont_right .input-check-ctm label .ctm-box span {
	background-position: -56px -2430px
}

#footer_wrap_170919 .address .ct890 .cont_right .input-check-ctm.checked label .ctm-box span {
	background-position: -56px -2400px
}

#footer_wrap_170919 .address .ct890 .cont_right .input-check-ctm.checked label .ctm-box{
	background: #ab2229;
    border-color: #ab2229;
}

#footer_wrap_170919 .address .ct890 .cont_right .marketing{
	position: relative;
	font:400 11px 'NotoSansKR';
}

.ie7 #footer_wrap_170919 .address .ct890 .cont_right .marketing {
	text-decoration: underline;
	line-height: 20px;
}

.ie8 #footer_wrap_170919 .address .ct890 .cont_right .marketing {
	text-decoration: underline;
	line-height: 20px;
}

#footer_wrap_170919 .address .ct890 .cont_right .marketing::after {
	content: '';
    width: 73px;
    height: 1px;
    background-color: #999;
    position: absolute;
    bottom: -2px;
    right: 0;
}

#footer_wrap_170919 .address p{
	margin-bottom:3px;
	font:400 11px 'NotoSansKR','Nanum Gothic';
	color: #959595;
	visibility: visible;
}

#footer_wrap_170919 .address p.last{
	margin-bottom: 0;
}

#footer_wrap_170919 .address p span{
	color: #fff;
}

#footer_wrap_170919 .address .logo{
	width: 141px;
	height: 28px;
	position: absolute;
	bottom: 0;
	right: 0;
	background-position: right -2230px;
}

#footer_wrap_170919 .bottom{
	background: #40403a;
}

#footer_wrap_170919 .inner_menu{
	padding-top:20px;
}

#footer_wrap_170919 .inner_menu li{
	margin-right: 20px;
	float: left;
	position: relative;
}

#footer_wrap_170919 .inner_menu li::after {
	content: '';
	display: block;
	width: 1px;
	height: 8px;
	background-color: #666666;
	position: absolute;
	top: 5px;
	right: -10px;
}

#footer_wrap_170919 .inner_menu li:last-child::after {
	content: '';
	display: none;
}

#footer_wrap_170919 .inner_menu li a{
	font:400 12px 'NotoSansKR','Nanum Gothic';
	color: #666666;
	letter-spacing: -0.5px;
}

#footer_wrap_170919 .inner_menu li a strong{
	color: #999;
	font-weight: normal;
}

.spt_bg{display: block;background-image:url('/images/reebok/common/reebok_sprite.png?v=170925') !important;background-repeat:no-repeat !important;background-position:0 0;text-indent:-5000px;}

/* titStyle */
.titTypeA {position:absolute; left:50%; top:95px; margin-left:-200px; width:400px; z-index:3;}
.titTypeA h2 {font-size:28px; color:#fff;  font-family: 'ReefontCondensed'; text-align:center; letter-spacing:10px; line-height:30px; font-weight:400;}
.titTypeA p {display:block; padding-top:8px; font-size:14px; color:#fff; font-family: 'NotoSansKR'; font-weight: 300; text-align:center;letter-spacing:2px;}

.titTypeB {}
.titTypeB h3 {font-size:68px !important; color:#fff;  font-family: 'Myriad Pro' !important; line-height:68px !important; letter-spacing:2px !important;}
.titTypeB p {display:block; padding-top:8px; font-size:40px !important; color:#fff; font-family: 'NotoSansKR'; font-weight: 300; line-height:40px; letter-spacing:2px;}

#blockArea {position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,.5); z-index:201;}
#bigImgArea {display:inline-block; position:absolute; top:0; right:0; bottom:0; left:0; margin:auto; width:656px; height:472px;}
#bigImgArea a.btnClose {display:block; position:absolute; right:10px; top:10px; width:30px; height:30px; text-indent:-10000px; background:url(//image.reebok.co.kr/images/reebok/efu2018/btn/btn_close.png) no-repeat 0 0;}
#blockArea a.btnLayerClose {display:block; position:absolute; right:20px; top:20px; width:60px; height:60px;}

/* 20180327 추가 */
/* popup */
#blockArea iframe.mainPopup {display:inline-block; position:absolute; top:0; right:0; bottom:0; left:0; margin:auto; width:612px;background:#fff;}
.popup #popWrap {position:relative; padding:45px; background:#fff;}
.popup #popWrap h1 {padding-bottom:20px; font-size:28px; color:#b71c26; font-family:'NotoSansKR'; font-weight:500; line-height:30px;}
.popup #popWrap #popCont h2 {padding-bottom:5px; font-size:22px; color:#000; font-family: 'NotoSansKR'; font-weight: 500;}
.popup #popWrap #popCont h2 span {font-family: 'ReefontCondensed'; letter-spacing:3px;}
.popup #popWrap #popCont p.txt {font-size:14px; color:#000; font-family: 'NotoSansKR'; font-weight:400; line-height:20px;}
.popup #popWrap #popCont p.txt span {position:relative; margin-right:37px;}
.popup #popWrap #popCont p.txt span:after {content:""; display:block; clear:both; position:absolute; right:-30px; top:2px; width:24px; height:16px; background:url(/images/reebok/efu2018/blt/blt_car.png) no-repeat 0 0;}
.popup #popWrap #popCont ul {padding-top:20px;}
.popup #popWrap #popCont ul li {position:relative; padding:0 0 7px 10px; font-size:12px; color:#888; font-family: 'NotoSansKR'; font-weight:400;}
.popup #popWrap #popCont ul li:before {content:""; display:block; clear:both; position:absolute; left:0; top:6px; width:3px; height:3px; background:#b71c26;}
.popup #popWrap #popCont .btnArea {margin-top:40px;}
.popup #popWrap #popCont .btnArea a {display:inline-block; padding:15px 0; width:49%; font-size:12px; color:#fff; font-family: 'NotoSansKR'; font-weight: 500; text-align:center; background:#b71c26;}
.popup #popWrap #popCont .btnArea a + a {background:#ccc;}
.popup #popWrap .btnClose {position:absolute; right:15px; top:15px;}

/* mainPop */
#efu_mainWrap {position:relative;}
.mainPopup {display:none; position:absolute; left:5%; top:2%; padding-top:68px; width:460px; background:#fff;z-index:200;}
.mainPopup .mainPopupTit {padding:0 40px; font-size:28px; color:#000; font-weight:500; font-family:'NotoSansKR'; line-height:28px;}
.mainPopup .mainPopupTit:after {margin-top:13px; content:""; display:block; clear:both; margin-top:13px; width:20px; height:3px; background:#b71c26;}
.mainPopup .mainPopupCont {padding:30px 40px 30px 40px;}
.mainPopup .mainPopupCont p {font-size:15px; color:#000; font-family:'NotoSansKR'; line-height:20px; letter-spacing:-0.5px;}
.mainPopup .mainPopupCont dl {padding-top:35px;}
.mainPopup .mainPopupCont dl dt {font-size:15px; color:#000; font-family:'NotoSansKR'; font-weight:500; }
.mainPopup .mainPopupCont dl dd {padding:10px 0 20px 12px; font-size:15px; color:#000; font-family:'NotoSansKR'; font-weight:300;}
.mainPopup .mainPopupCont .btnArea {margin:25px 0 30px 0; text-align:center; background:#b71c26;}
.mainPopup .mainPopupCont .btnArea a {display:inline-block; padding:18px 0; width:100%; font-size:16px; color:#fff; font-family:'NotoSansKR'; text-align:center;}
.mainPopup .todayBtn {padding:14px 40px; border-top:1px solid #e3e3e3; background:#f8f8f8;}
.mainPopup .todayBtn input {width:16px; height:16px; border:1px solid #ccc; background:#fff; vertical-align:top;}
.mainPopup .todayBtn label {margin-left:5px; font-size:14px; color:#333; line-height:14px;  font-family:'NotoSansKR';}
.mainPopup .closeBtn {position:absolute; right:20px; top:20px;}

/*headerTopBar*/
#efu_headerWrap .oneday_bars{margin-top:48px;	width: 100%;	height: 40px; background: #fff; border-bottom: 1px solid  #c8cbcc;}
#efu_headerWrap .oneday_bars .ct950{text-align: center;}
#efu_headerWrap .oneday_bars .bar{position: relative;	padding: 14px 0 0 30px; margin-right: 130px; height: 26px;	overflow: hidden;	display: inline-block;}
*:first-child+html #efu_headerWrap .oneday_bars .bar,
.ie7  #efu_headerWrap .oneday_bars .bar{display: inline;}
#efu_headerWrap .oneday_bars .bar.b1{margin-left: 10px;}
#efu_headerWrap .oneday_bars .bar.b3{margin-right: 0;}
#efu_headerWrap .oneday_bars .spt_bg{	width: 24px; height: 24px;	position: absolute; top: 8px;	left: 0;}
#efu_headerWrap .oneday_bars .b1 .spt_bg{background-position:-194px 0;}
#efu_headerWrap .oneday_bars .b2 .spt_bg{background-position:-225px 0;}
#efu_headerWrap .oneday_bars .b3 .spt_bg{background-position:-254px 0;}
#efu_headerWrap .oneday_bars a{position:relative; padding-right:25px;margin-top: 5px; color: #333; font:400 13px/13px 'NotoSansKR','Nanum Gothic';}
#efu_headerWrap .oneday_bars a:after{content:""; display:block; clear:both; position:absolute; right:0; top:3px;  width:13px; height:13px; background:url('/images/reebok/efu2018/common/icon_mypage.png') 0 0 no-repeat; background-position:-73px 0;}


